.DS_Store  
config/database.yml
lib/tasks/rspec.rake  
lib/tasks/cucumber.rake  
db/*.db  
db/ilikehere_test.sqlite3
db/schema.rb  
db/sphinx  
tmp/**/*  
doc/api  
doc/app  
config/*.sphinx.conf  
coverage/*
log
log/*  
rerun.txt
mkmf.log
