<div id="bookmark_box">
  Drag this link - <a onclick='alert("drag me to your bookmark toolbar"); return false;'
href="javascript:(function(){var a=window,b=document,c=encodeURIComponent,d=a.open('<%=HOST%>/placemarks/new?url='+b.location+'&title='+c(b.title),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=700px,width=850px,resizable=1,alwaysRaised=1');a.setTimeout(function(){d.focus()},300)})();">i like here</a> - to your bookmark toolbar. Click it to automatically add a placemark to your profile.
</div>